
*{
    box-sizing: border-box;   
     margin: 0;    
     padding: 0;
}
   
    body {
        height: 100vh;    
    color: #ddd;    
    font-family: "Poppins", sans-serif; 
    font-weight: 500;
    
    }
    
    .nav {
    
    background-color: #333;
    
    padding-inline: 1rem;
    
    }  
    
    .toggle {
    position: absolute; 
    top: 0.7rem;
    right: 2rem;
    cursor: pointer;
}
.toggle .menu{
height: 2rem;
margin-top: 0.2rem;
}
.toggle .close{
    display:none;
    height: 2.3rem;
    margin-right: 0.2rem;
}

.nav-checkbox{
    display: none;
}
.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}

menu li{
    display: none;
    padding: 1rem;
    list-style: none;
}
.menu li:first-child{
    display: block;
    margin-right: auto;
    padding: 0;
}
    .menu a {
    color: inherit;    
    font-size: 1.2rem; 
    text-decoration: none;    
    }
    
    .logo {
    height: 2.5em;    
    margin-top: 0.7rem;
    
    } 
    #nav-checkbox:checked-ul.menu li {    
    display: block;
    
    }
     #nav-checkbox:checked-label.toggle .close { 
        display:block;

         }
           
        #nav-checkbox:checked-label.toggle .menu {
        display: none;
        }
        
        @media (min-width: 380px) {
        
        .toggle { display: none;
        
        }
        
        .menu {      
        flex-direction: row;
        
        }
        .menu li { 
            display: block;
        
        }
        }